body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F7F9FC;
}

/* navbar */
header.navbar {
    background-color: #F7F9FC;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px 0;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 600;
}

/* buttton */
.btn-add {
    background-color: #5C6BC0;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

.btn-add:hover {
    background-color: #4c59a3;
    transform: translateY(-2px);
}

/* form spaccing */
#task .container {
    padding-top: 10px;
}
