body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F7F9FC;
}

/* navbar */
header.navbar {
    background-color: #F7F9FC;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 50px;
    margin-bottom: -20px;
}
.navbar-brand {
    font-size: 30px;
    font-weight: 600;
}

/* main */
.input-group .form-control,
.input-group-text {
    padding-top: 12px;
    padding-bottom: 12px;
}


/* buttton */
.btn-add {
    background-color: #5C6BC0;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}
.btn-add:hover {
    background-color: #4c59a3;
    transform: translateY(-2px);
}

/* form spaccing */
#task .container {
    padding-top: 10px;
}

/* filter */
.filter-btn {
    padding: 8px 18px;
    border: none;
    background-color: #e9efff;
    color: #4c59a3;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s;
}
.filter-btn.active,
.filter-btn:hover {
    background-color: #5C6BC0;
    color: white;
}
.clear-btn {
    padding: 8px 18px;
    border: none;
    background-color: #f8d7da;
    color: #9b3e43;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s;
}
.clear-btn:hover {
    background-color: #e6bfc3;
}
