body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F7F9FC;
}

/* navbar */
.navbar {
    background-color: #F7F9FC;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px;
}
.navbar .navbar-brand {
    font-size: 35px;
    font-weight: 600;
}
/* .navbar .nav-link {
    color: #5C6BC0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
} */
.btn-add {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    color: #fff;
    background-color: #5C6BC0;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}
/* .btn-add:hover {
    background-color: #aa1633;
    transform: translateY(-4px);
} */