body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F7F9FC;
}

/* navbar */
header.navbar {
    background-color: #F7F9FC;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 50px;
    margin-bottom: -20px;
}
.navbar-brand {
    font-size: 30px;
    font-weight: 600;
}

/* main */
.input-group .form-control,
.input-group-text {
    padding-top: 12px;
    padding-bottom: 12px;
}


/* buttton */
.btn-add {
    background-color: #5C6BC0;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}
.btn-add:hover {
    background-color: #4c59a3;
    transform: translateY(-2px);
}

/* form spaccing */
#task .container {
    padding-top: 10px;
}

/* filter */
.filter-btn {
    padding: 8px 18px;
    border: none;
    background-color: #e9efff;
    color: #4c59a3;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s;
}
.filter-btn.active,
.filter-btn:hover {
    background-color: #5C6BC0;
    color: white;
}
.clear-btn {
    padding: 8px 18px;
    border: none;
    background-color: #f8d7da;
    color: #9b3e43;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s;
}
.clear-btn:hover {
    background-color: #e6bfc3;
}


/* task-list */
.task-table {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    font-size: 15px;
}
.task-table thead {
    background: #fafafa;
    font-weight: 600;
}
.task-table th {
    color: #555;
    border-bottom-width: 2px;
}
.task-table td {
    padding: 14px 12px;
}
.status-pill {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}
.status-pill.pending {
    background-color: #fff3a6;
    color: #7d6a00;
}
.status-pill.completed {
    background-color: #d5f5cd;
    color: #2e6b27;
}
.actions {
    display: flex;
    gap: 10px;
}
.btn-icon {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    opacity: .7;
    transition: .2s;
}
.btn-icon:hover {
    opacity: 1;
}
